{% extends 'layout.html' %}

{% block body %}
  <h1 style="padding: 10px">Scores</h1>
  <table class="table table-striped">
    <th>Song</th>
    <th>Letter Grade</th>
    <th>Stage Pass</th>
    <th>Platform</th>
    <th>Author</th>
    {% for score in scores %}
    <tr>
      <td><a href="score/{{score.id}}">{{score.song}}</a>
        {% if score.id in images %}
          <span class="badge badge-pill badge-success">Verified!</span>
        {% endif %}
      </td>
      <td>{{score.lettergrade}}</td>
      <td>{{score.stagepass}}</td>
      <td>{{score.platform}}</td>
      <td>{{score.author}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
