{% extends 'layout.html' %}

{% block body %}
  <h1 style="padding: 10px">{{article.title}}</h1>
  <small>By {{article.author}} | Submitted on {{article.create_date}}</small>
  <hr>
  <div style="padding: 10px">
    {{article.body}}
  </div>
  {% if image != None %}
    <script type="text/javascript">
      function toggle_display(){
        el = document.querySelector('.content_section');

        if(el.style.visibility == 'hidden') {
            el.style.visibility = 'visible'
        }
        else {
           el.style.visibility = 'hidden'
        }
      }
    </script>
    <center><button onclick="toggle_display()" class="btn btn-primary">Display Score Screenshot</button><center>
    <div class="content_section" style="visibility: hidden"><img src="/static/{{image}}" width="640px" height="480px" class="rounded mx-auto d-block" size="50%" style="padding: 20px" /></div>
  {% else %}
    <p>No Verification Image</p>
  {% endif %}
{% endblock %}
